.placeList{
    background-color: #215b7b;
    padding: 0;
    padding: 40px;
}

.placeCard{
    list-style: none;
    padding: 5px;
    border: 3px solid #eb4486;
   
    background-color: #52a6d3;
    margin-bottom: 15px;
    text-align: start;
    min-height: 150px;
    transition: all .2s ease-in-out;
}
.placeCard:hover {
    transform: scale(1.05); 
    box-shadow: 5px 5px 3px #eb4486;
}
.placeCard-row{
    display: flex;
    align-items: center;
}
.placeCard-rating{
    margin-bottom: 40px;
}
.placeCard-name{
    color: #215b7b;
}
.placeCard-text{
    color: aliceblue;
}
